// Block__Element--Modifier

body {
  font-size: 62.5%; // To retain accessibility and make REM calculations simpler
}

.App {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 87.5rem; // 1400px
  padding: 1rem 2rem;
}

.Header {
  text-align: center;
}

.Home {
  display: flex;
  flex-direction: column;
}

.Footer {
  display: flex;
  justify-content: center;
  padding: .5rem;
}

.Footer__Button {
  margin: .2rem;
}

.Footer__CurrentPage {
  margin: 0 .4rem;
}

.TableTools {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}